<div class=cardContent>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Vipin Sati</mat-card-title>
            <mat-card-subtitle>friends</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                You are seeing this as as first post in the nautilus...
            </p>
        </mat-card-content>
      
    </mat-card>
    &nbsp;
    <mat-card>
        <mat-card-header>
            <mat-card-title>Vipin Sati</mat-card-title>
            <mat-card-subtitle>friends</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                You are seeing this as as first post in the nautilus...
            </p>
        </mat-card-content>
    </mat-card>
    &nbsp;
    <mat-card>
        <mat-card-header>
            <mat-card-title>Vipin Sati</mat-card-title>
            <mat-card-subtitle>friends</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                You are seeing this as as first post in the nautilus...
            </p>
        </mat-card-content>
    </mat-card>
    &nbsp;
    <mat-card>
        <mat-card-header>
            <mat-card-title>Vipin Sati</mat-card-title>
            <mat-card-subtitle>friends</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                You are seeing this as as first post in the nautilus...
            </p>
        </mat-card-content>
    </mat-card>
    &nbsp;
    <mat-card>
        <mat-card-header>
            <mat-card-title>Vipin Sati</mat-card-title>
            <mat-card-subtitle>friends</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                You are seeing this as as first post in the nautilus...
            </p>
        </mat-card-content>
    </mat-card>
    &nbsp;
    <mat-card>
        <mat-card-header>
            <mat-card-title>Vipin Sati</mat-card-title>
            <mat-card-subtitle>friends</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                You are seeing this as as first post in the nautilus...
            </p>
        </mat-card-content>
    </mat-card>
    &nbsp;
    <mat-card>
        <mat-card-header>
            <mat-card-title>Vipin Sati</mat-card-title>
            <mat-card-subtitle>friends</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                You are seeing this as as first post in the nautilus...
            </p>
        </mat-card-content>
    </mat-card>
</div>