<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div>
    <div class="topnav">
      <img src="../../assets/img.jpg">
        <mat-form-field appearance="outline" [style.fontSize.px]=12 [style.width.%]=100>
          <input class="searchBox" matInput type="search" placeholder="Search Friends, Page, Events...">
        </mat-form-field>

      <img class="uiavatar" src="https://ui-avatars.com/api/?name=vipin+sati">
    </div>

  </div>
</body>

</html>