<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<!-- <!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div>
    <div class="topnav">
      <img src="../../assets/img.jpg">
        <mat-form-field appearance="outline" [style.fontSize.px]=12 [style.width.%]=100>
          <input class="searchBox" matInput type="search" placeholder="Search Friends, Page, Events...">
        </mat-form-field>

      <img class="uiavatar" src="https://ui-avatars.com/api/?name=vipin+sati">
    </div>

  </div>
</body>

</html> -->
