<div class="workspace">
    <mat-sidenav-container class="sideNavCOntainer">
        <mat-sidenav class="sidenav" mode="side" opened>
           <div class="sidenavlist">
               <mat-list class="sideNavListItem" >
                   <a *ngFor="let obj of sideNavListItems" mat-list-item (click)="changeName(obj.name)">{{obj.name}}</a>
                   <!-- expansion panel for Room -> 2 sublist as create room or join room -->
               </mat-list>
           </div>
           <div class="logout">
                <mat-list class="logoutItem" >
                   <a mat-list-item>Logout</a>
                </mat-list>
            </div> 
        </mat-sidenav>
        <mat-sidenav-content>{{name}}</mat-sidenav-content>
    </mat-sidenav-container>
</div>

