.main{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.appWorkspace{
    position: fixed;
    height: 100%;
    width: 100%;
}
.footer{
    position: fixed;
    bottom: 0;
    height: 34px;
    width: 100%;
    left: 0;
    background-color: black;
    color: white;
}